@import "tailwindcss";

@media screen and (min-width:10em) {
    main{
    padding: calc(15% - 50px);
}
img{
    margin: auto;
    padding-bottom: 2em;
}
.sec{
    text-align: center;
    padding-top: 15%;
}
}

h2{
    font-size: clamp(2.5rem, 8vw, 5rem);
    font-weight: bolder;
    color:#4a4949;
     line-height: 1em;
}
p{
    font-size: clamp(1.5rem, 8vw, 5rem);
    font-weight:400;
    color:rgb(81, 81, 81);
    line-height: 1.5em;
}

