@import "tailwindcss";


h2{
    font-size: clamp(2.5rem, 8vw, 3.5rem);
    font-weight: bolder;
    color:#4a4949ca;
     line-height: 1em;
     padding-bottom: 1.2em;
}

@media screen and (min-width:10em) {
    main{
    padding: calc(15% - 50px);
    background-image: url(../images/bg-header-mobile.png);
     background-repeat: no-repeat;
    background-position: top;
}
img{
    margin: auto;
    padding-bottom: 2em;
    padding-top: 2em;
   
}
section{
    text-align: center;
    padding-top: 15%;
}
p{
    font-size: clamp(1em, 8vw, 2rem);
    font-weight:400;
    color:rgb(81, 81, 81);
    line-height: 1.3em;
}
h2{
    padding-top: 10%;
}

button{
    
    margin: auto;
    width: 80%;
    padding: 1em;
    font-size: x-large;
    font-weight: 700;
    color: white;
    border-color: rgb(0, 251, 255);
    margin-top: 0.8em;
    border-radius: 2em;
    border-bottom: #4a49490d;
    border-style: groove;
    
}
}
@media screen and (min-width:35em) {
    main{
    padding: calc(5% - 50px);
    padding-left: 20%;
    padding-right: 20%;
    background-image: url(../images/bg-header-desktop.png);
    background-repeat: no-repeat;
    background-position: top;
}
img{
  padding-bottom: 2%;
}
section{
    text-align: center;
    padding-top: 2%;
}
h2{
    padding-top: 5%;
}
p{
    padding-top: 1%;
    font-size: clamp(1rem, 5vw, 1.5rem);
    color:rgba(81, 81, 81, 0.596);
}
/* .buttonFlex{
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
} */
 button{
    width: 45%;
}
}


.button1{
    background-color: rgb(44, 195, 255);
    transition-duration: 0.5s;
    margin-top: 15%;
    box-shadow: 5px 5px 5px rgb(116, 241, 199);
}
.button1:hover{
    background-color: rgb(116, 205, 240);
    transition-duration: 0.5s;
}
.button2{
    background-color: rgba(0, 0, 255, 0.673);
    transition-duration: 0.5s;
    box-shadow: 5px 5px 5px rgb(178, 212, 243);
}
.button2:hover{
    background-color: rgba(0, 0, 255, 0.421);
}
.icon:hover{
    transform:scale(105%);
    transition-duration: 0.8s;
}
